@import "tailwindcss";

@theme {
  --color-background: #fff;
  --color-foreground: #f1f3f2;
  --color-primary: #012f59;
  --color-secondary: #012f59;
  --color-tertiary: #43e0d0;
  --color-tertiary-light: #2bbfaf;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-68: 68px;
  --spacing-72: 72px;
  --spacing-76: 76px;
  --spacing-80: 80px;
  --font-inter: "Inter", sans-serif;
  --font-notoSerif: "Noto_Serif", serif;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.bullet-check::before {
  content: '';
  display: block;
  min-width: 1rem;
  min-height: 1rem;
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline points='2%2C9 6%2C13 14%2C3' stroke='%2343e0d0' stroke-width='2.5' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
