@import "tailwindcss";

@theme {
  --color-background: #fff;
  --color-foreground: #f1f3f2;
  --color-primary: #242424;
  --color-secondary: #a29061;
  --color-tertiary: #3e0402;
  --color-tertiary-light: #6a1c00;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-68: 68px;
  --spacing-72: 72px;
  --spacing-76: 76px;
  --spacing-80: 80px;
  --font-inter: "Inter", sans-serif;
  --font-notoSerif: "Noto_Serif", serif;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
